<h1 id="tableLabel">Products</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>Product Id</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Brand</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.productId }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.brand }}</td>
      <td>{{ product.value }}</td>
    </tr>
  </tbody>
</table>
